<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragments :: head"></head>
<body>
        <header >
         <nav th:replace="fragment/fragments :: navigation"></nav>
        </header>
    <main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
    <hr class="my-3"/>
    <div class="container-fluid bg-dark w-25 m-auto ">
        <div class="row justify-content-center ">
            <div th:object="${item}" class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="*{imgUrl}" alt="Card image cap">
                <div class="card-body bg-gray align-content-center text-center">
                    <h6 th:text="*{name}">Item name</h6>
                    <p class="card-text" th:text="*{description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim, excepturi ha </p>
                    <h6 th:text="*{price}">Price</h6>
                    <a th:href="@{/products/delete/{id}(id = *{id})}" class="btn btn-danger" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>
    <footer th:replace="fragment/fragments :: footer"></footer>
</body>
</html>
